.map {

	&__body {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		width: 50%;
	}

	&__title {
		margin: 0 0 65px;
		font-family: 'Raleway', sans-serif;
		font-size: 60px;
		font-weight: 200;
		line-height: 96px;
		color: #576671;
	}

	&__subtitle {
		margin: 0;
	}

	&__btn {}

	&__map {
		width: 50%;

		&>img {
			max-width: 100%;
		}
	}
}


.try-template {
	background-image: url(../img/try-template.jpg);
	background-position: center;
	background-size: cover;

	&__body {
		margin: 135px auto 100px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		margin: 0 auto 30px;
		font-family: 'Raleway', sans-serif;
		font-size: 60px;
		font-weight: 200;
		line-height: 60px;
		color: white;

		&_bold {
			font-weight: 700;
		}
	}

	&__btn {}
}