@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf);
}
html,
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #576671;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #17daa3;
  border-radius: 5px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 10px;
}

.button {
  width: 180px;
  height: 40px;
  margin: 75px 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  border: none;
  border-radius: 23.5px;
  background-color: #17daa3;
  cursor: pointer;
}

.button:hover {
  background-color: #37eeba;
}

.scroll-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  animation: scrollbtnanim 1s linear alternate infinite;
}

@keyframes scrollbtnanim {
  from {
    bottom: 80px;
  }
  to {
    bottom: 50px;
  }
}
.scroll-btn-icon {
  font-size: 50px !important;
  color: #fff;
}

.section-title {
  margin: 100px 0 35px 0;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 96px;
  color: #576671;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section-title::after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #17daa3;
}

.title {
  margin: 100px 0 35px 0;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 96px;
  color: #576671;
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 46px;
  }
}
.subtitle {
  margin: 30px auto;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #87949e;
}

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__body {
  height: 60px;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.header__logo {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo > img {
  max-width: 100%;
}

.header__menu {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

.header__menu > li {
  list-style: none;
  margin: auto 35px;
}

.header__link {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../img/mainbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  margin: 0 auto 30px;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 60px;
  color: white;
}

.main__title_bold {
  font-weight: 700;
}

.main__subtitle {
  margin: 0 auto 30px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  color: white;
}

.main__btn {
  width: 180px;
  height: 45px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 23.5px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  cursor: pointer;
}

.main__btn:hover {
  background-color: #17daa3;
  border: none;
}

.main__icon {
  width: 50px;
  height: 50px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.about__subtitle {
  margin: 0 0 150px;
  text-align: center;
}

.about__cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.about__card {
  margin-top: 100px;
  padding: 0 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: all 0.8s;
}

.about__card.showen {
  margin-top: 0;
  opacity: 1;
}

.about__icon-block {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #edeff1;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.about__icon-block:hover {
  background-color: #17daa3;
}
.about__icon-block:hover .about__icon {
  fill: #fff;
}

.about__icon {
  fill: #87949e;
  transition: all 0.3s;
}

.about__card-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.about__card-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #87949e;
}

.about__slide.showen {
  margin: 0;
  opacity: 1;
}

.about__slide {
  width: 100%;
  margin: 0 0 0 50%;
  background-color: #f9f9fa;
  transition: all 0.5s;
  opacity: 0;
}

.about__slide.showen:nth-child(odd) {
  width: 100%;
  margin: 0;
  opacity: 1;
}

.about__slide:nth-child(odd) {
  margin: 0 0 0 -50%;
  flex-flow: row nowrap;
  background-color: #fff;
  opacity: 0;
}

.about__slide:nth-child(odd) > .container {
  flex-flow: row-reverse nowrap;
}

.about__slide > .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.about__slide-img {
  max-width: 50%;
  height: 100%;
  padding: 10px;
}

.about__slide-img > img {
  max-width: 100%;
  object-fit: cover;
}

.about__slide-content {
  width: 50%;
}

.about__slide-title {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #576671;
}

.about__slide-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #87949e;
}

@media only screen and (max-width: 850px) {
  .about__card {
    width: 50%;
  }
  .about__cards {
    flex-flow: row wrap;
  }
}
.services {
  background-color: #f9f9fa;
}

.services__subtitle {
  text-align: center;
}

.services__body {
  width: 100%;
  margin: 0 0 100px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.services__card {
  width: 50%;
  margin: 100px 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
}

.services__card.showen {
  margin: 0;
  opacity: 1;
}

.services__card-icon-block {
  min-width: 95px;
  min-height: 95px;
  border-radius: 50%;
  background-color: #fff;
  color: #17daa3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__icon {
  fill: #39dfb0;
}

@media only screen and (max-width: 850px) {
  .services__body {
    flex-flow: column;
  }
}
.map__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.map__content {
  width: 50%;
}

.map__title {
  margin: 0 0 65px;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 96px;
  color: #576671;
}

.map__subtitle {
  margin: 0;
}

.map__map {
  width: 50%;
}

.map__map > img {
  max-width: 100%;
}

.try-template {
  background-image: url(../img/try-template.webp);
  background-position: center;
  background-size: cover;
}

.try-template__body {
  margin: 135px auto 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.try-template__title {
  margin: 0 auto 30px;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 60px;
  color: white;
}

.try-template__title_bold {
  font-weight: 700;
}

footer {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}